* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  body {
    background: url('../../assets/img/bg1.jpg');
    margin: 0%;
    display: flex;
    justify-content: center;
  }
  .container {
    
    width:1270px;
    margin: 15px 10px;
    text-align: center;
    padding: 10px;
    line-height: 2rem;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    color: darkblue;
  }
  h3 {
    margin: 10px 0;
  }
  #date {
    color: teal;
  }
  form input,
  form button {
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
  }
  form button {
    width: 70px;
  }
  #name-country {
    color: #555;
    margin-top: 20px;
  }
  .content {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
  }
  .container .row .box {
    
    margin: 10px;
    border: 1px sold #ccc;
    padding: 15px;
    letter-spacing: 2px;
  }
  #color1:hover {
    background: rgba(255, 255, 0, 0.712);
  }
  #color2:hover {
    background: rgba(255, 0, 0, 0.712);
  }
  #color3:hover {
    background: rgba(0, 255, 76, 0.712);
  }
  .container .box p {
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
  }
  .confirmed h3,
  .confirmed i {
    color: crimson;
  }
  .recovered h3,
  .recovered i {
    color: green;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  .row{
    display: flex;
  }
  .col-4{width: 33.33%;}
  .col-5{width: 50%;}
  .col-12{
    width: 100%;
  }
  .chart {
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 3px;
  }
  .center{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  /*------------------------------mobile--------------------