.blog-container {
    margin: 5rem auto;
    max-width: calc(100% - 120px);
}

.article-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(265px, 1fr));
    gap: 2rem;
}

.article-image {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}


.article-card {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
    height: 100%;
}

.article-card:hover{
    box-shadow: 0 4px 20px rgba(34, 68, 123, 0.2);
    cursor: pointer;
}

.article-content {
    /* padding: 5rem; */
    padding: 5%;
}

.article-content .card-category {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #3C3A64;
    text-decoration: none;
}

.article-content .card-title{
    margin: 1rem 0;
    color: #000;
}

.article-content > h3{
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.article-content .card-except {
    font-size: 18px;
    line-height: 1.5rem;
    margin: 0;
}

