.hero1 {
    width: 100%;
    height: 100%;
    margin: 20px;
    animation-duration: 2s;
    animation-name: slidein;
}

.hero1 h1 {
    margin: 0;
    font-size: 37px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40%;
    color: #3c3a64;
}

.hero1 h2 {
    color: #707070;
    margin: 15px 0 0 0;
    font-size: 20px;
    margin-left: -8% !important;
    margin-right: 5%;
}

.hero1 .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    margin-left: -8%;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #3f6d9f;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero1 .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero1 .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero1 .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero1 .hero1-img {
    text-align: right;
}

.hero1-img>img {
    margin-right: 20%;
    margin-left: -5%;
}

.pointer {
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.pointer img {
    margin-top: -11px;
    margin-left: -11px;
}

.visible,
.visible3 {
    display: none;
    color: white;
}

.pointer:hover .visible {
    display: table-cell;
    position: relative;
    color: #fff;
    font-size: 25px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 102px;
    height: 81px;
}

.pointer:hover .visible3 {
    display: flex;
    position: absolute;
    color: #fff;
    font-size: 25px;
    text-align: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    top: 55px;
    left: 45px;
    width: 102px;
    height: 81px;
}


/* .pointer:hover {
    background-color: #3f6d9f;
    transition: 10s;
  } */

.pointer:hover {
    background-color: #3f6d9f;
    transform: translatez(20px);
}

.pointer:hover .visible3 a {
    text-decoration: none;
    color: #fff;
}

.pointer:hover .visible3 a:hover {
    text-decoration:none;
    color: #fff;
    
}

.row {
    margin: 10px;
}

@media (min-width: 1024px) {
    /*.header .logo{
    margin-left: 3%;
  }
  .navbar{
    margin-right: 10px;
  }*/
    .hero1 {
        background-attachment: fixed;
    }
    .hero1 .row {
        margin-left: -30px;
    }
    /*
  .hero1 h1{
    text-align: center;
    margin-left:-120px;
  }
  .hero1 .row .col-md-2{
    margin:40px;  
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .hero1 .row .col-md-2 .pointer{
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }
  .hero1 .row .col-md-2 .pointer img{
    width: 200px;
    height: 200px;
  }*/
}

@media (max-width: 991px) {
    .header .logo {
        margin-left: 3%;
    }
    .hero1 {
        height: auto;
        width: auto;
        padding: 120px 0 60px 0;
    }
    .hero1 h1 {
        text-align: center;
        margin-right: 125px;
        margin-left: 135px;
    }
    .hero1 .hero1-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero1 .hero1-img img {
        width: 80%;
    }
    .hero1 .row {
        margin-left: -30px;
    }
    .hero1 .row .col-md-2 {
        margin: 30px;
        align-items: center;
        justify-content: center;
        padding-left: 70px;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .hero1 .row .col-md-2 .pointer {
        width: 150px;
        height: 150px;
        border-radius: 10%;
    }
    .hero1 .row .col-md-2 .pointer img {
        width: 150px;
        height: 150px;
    }
    .hero1 .row .col-md-2 .pointer:hover .visible3 {
        width: 90px;
        margin-left: -20px;
        height: 61px;
    }
}

@media (max-width: 768px) {
    .header .logo {
        margin-left: 3%;
    }
    .hero1 {
        height: auto;
        width: auto;
        padding: 80px 0 60px 0;
    }
    .hero1 h1 {
        text-align: center;
        margin-left: 20px;
        margin-right: 0%;
        padding: 0%;
        font-size: 40px;
        font-weight: 200;
    }
    .hero1 .hero1-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero1 .hero1-img img {
        width: 100%;
    }
    .hero1 .row {
        margin-left: -50px;
    }
    .hero1 .row .col-md-2 {
        margin: 30px;
        align-items: center;
        justify-content: center;
        padding-left: 70px;
        margin-bottom: 10px;
    }
    .hero1 .row .col-md-2 .pointer {
        width: 200px;
        height: 200px;
        border-radius: 10%;
    }
    .hero1 .row .col-md-2 .pointer img {
        width: 200px;
        height: 200px;
    }
    .hero1 .row .col-md-2 .pointer:hover .visible3 {
        top: 55px;
        left: 45px;
        width: 102px;
        height: 81px;
    }
}

@keyframes slidein {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}